<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784893579307-6qehniq0efb2kshao9f2m7q6rrpdas76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784893579307-6qehniq0efb2kshao9f2m7q6rrpdas76</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Y2swlR3JWEI6hxnrs8-XMPSlXuSDqf4</string>
	<key>GCM_SENDER_ID</key>
	<string>784893579307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ocean</string>
	<key>PROJECT_ID</key>
	<string>oceanissues-c563f</string>
	<key>STORAGE_BUCKET</key>
	<string>oceanissues-c563f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784893579307:ios:3cf371f41e50123e519a6e</string>
</dict>
</plist>